/* ===== Global ====== */
:root {
    --dark-blue: hsl(227, 28%, 29%);
    --green: #49aa26;
    --light-green: #3dd705;
    --dark-header: #2d4a22;
    --card-total: #49aa26;
    --card-label: hsl(227, 28%, 29%);
    --light-body: #f0f2f5;
    --table-back-title: #ffffff;
    --table-back-label: #969cb3;
    --red: #e92929;
    --white: #ffffff;
}

.dark-mode:root {
    --table-back-title: #747474;
    --table-back-label: #fff;
    --dark-header: rgb(8, 8, 8);
    --light-body: #333;
    --card-total: #122909;
    --card-label: #fff;
    --white: rgb(29, 29, 29);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%;   /*15px*/
}

body {
    background: var(--light-body);
    font-family: 'Poppins', sans-serif;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

/* ===== Titles ====== */
h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--card-label);
    font-weight: normal;
}

/* ===== Links & Buttons ====== */
a {
    color: var(--green);
    text-decoration: none;
}

a:hover {
    color: var(--light-green);
}

button {
    width: 100%;
    height: 50px;
    border: none;
    color: white;
    background: var(--green);
    padding: 0;
    border-radius: 0.25rem;
    cursor: pointer;
}

button:hover {
    background: var(--light-green);
}

.button.new {
    display: inline-block;
    margin-bottom: .8rem;
}

.button.del {
    color: var(--red);
    float: right;
}

.button.del:hover {
    color: #f36868;
}

.button.cancel {
    color: var(--red);
    border: 2px var(--red) solid;
    border-radius: 0.25rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}

.button.cancel:hover {
    opacity: 1;
}

/* ===== Header ====== */
header {
    background: var(--dark-header);
    padding: 2rem 0 10rem;
    text-align: center;
}

header img {
    margin-bottom: 2rem;
}

header #logo {
    color: #fff;
    font-weight: 100;
}

.header-menu {
    cursor: pointer;
    display: inline-grid;
    position: absolute;
    right: 2rem;
}

.header-menu .header-menu-line:first-child {
    margin-top: 0;
}

.header-menu .header-menu-line:last-child {
    margin-bottom: 0;
    width: 8px;
}

.header-menu .header-menu-line {
    border: 1px solid white;
    display: inline-flex;
    margin: 3px 0;
    width: 16px;
}

header #check,
header #darkmode  {
    display: none;
}

header .barra {
    background: white;
    position: absolute;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(50,50,90,.1);
    display: none;
    right: 3.5rem;
    top: 2rem;
}

header #tema {
    cursor: pointer;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: var(--green);
    transition: all .2s linear;
}

header #tema:hover {
    color: var(--light-green)
}

header #check:checked ~ .barra {
    display: block;
}

/* ===== Balance ====== */
#balance {
    margin-top: -8rem;
}

#balance h2 {
    color: white;
    margin-top: 0;
}

/* ===== Card ====== */
.card {
    background: var(--white);
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    color: var(--card-label);
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}

.card.total {
    background: var(--card-total);
    color: white;
}

/* ===== Table ====== */
#transaction {
    display: block;
    width: 100%;
    overflow-x: auto;
}
#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: var(--table-back-label);
}

table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
}

table thead th {
    background: var(--table-back-title);
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
}

table tbody tr {
    opacity: 0.7;
}

table tbody tr:hover {
    opacity: 1;
}

table td {
    background: white;
    padding: 1rem 2rem;

}

td.description,
td.date {
    color: var(--dark-blue);
}

td.income {
    color: #12a454;
}

td.expense {
    color: #e92929;
}

/* ===== Modal ====== */
.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: var(--light-body);
    padding: 2.4rem;
    position: relative;
    z-index: 1;
}

/* ===== Form ====== */
#form {
    max-width: 500px;
}

#form h2 {
    margin-top: 0;
}

input {
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem;
    width: 100%;
}

.input-group {
    margin-top: 0.8rem;
}

.input-group small {
    opacity: 0.5;
    color: var(--card-label);
}

.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
    width: 48%;
}

/* ===== Footer ====== */
footer {
    text-align: center;    
    padding: 2rem 0 2rem;
    color: var(--card-label);
    opacity: 0.6;
    font-weight: bold;
}

hr {
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 50px;        
    opacity: 0.4;
}

footer i {
    font-size: xx-large;
    padding: 0.5rem;
}

footer div {
    margin-top: 2rem;
}

/* ===== Responsive ====== */
@media (min-width: 800px) {
    html {
        font-size: 87.5%;
    }

    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;        
    }
}

